@import "../theme.scss";

.floating-area {
    pointer-events: none;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: $layer-ui;

    & > .ui-layer {
        pointer-events: all;
        position: relative;
        padding: 2rem;
    }

    &.is-bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
    }
}