@import "~/components/neuomorphic/theme.scss";

@keyframes marquee1 {
    0%    { transform: translateX(0); }
    30%    { transform: translateX(0); }
    100%      { transform: translateX(-120%); }
}

@keyframes marquee2 {
    0%    { transform: translateX(120%); }
    30%    { transform: translateX(120%); }
    100%      { transform: translateX(0%); }
}

.vinyl-container {
    overflow: hidden;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.5rem;

    * {
        pointer-events: all;
    }
}

.is-text {
    display: flex;
    white-space: nowrap;
    word-break: keep-all;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    .inner {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    &.is-marquee {
        padding-left: 1rem;
        padding-right: 1rem;

        .inner:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            
            background: linear-gradient(90deg,
                $bg-primary 0,
                rgba(255,255,255,0) 1rem,
                rgba(255,255,255,0) calc(100% - 1rem),
                $bg-primary 100%
            );
        }
        
        h2 {
            animation: marquee1 15s linear infinite;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .marquee-second {
            position: absolute;
            left: 0;
            top: 0;
            animation: marquee2 15s linear infinite;
        }
    }
}

.song-info {
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .song-title {
        font-size: 1.75rem;
        margin-bottom: .25rem;
    }

    .artist {
        font-size: 1.2rem;
        margin-bottom: .25rem;
    }
}

.media-controls {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    padding: .5rem 0;

    .section {
        display: flex;
        flex: 1 1 auto;
        padding: 1rem;
        align-items: center;
        justify-content: center;

        &.is-main {
            width: 100%;
        }

        &.is-left {
            justify-content: flex-start;
        }

        &.is-right {
            justify-content: flex-end;
        }
    }

    .play-button {
        margin: 0 3rem;
    }
}