.album-cover {
    transition: all .3s ease;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 1;

    &.is-hidden {
        transition: opacity .5s ease;
    
        display: block !important;
        opacity: 0;
    }
}