#root {
    background: transparent;
    z-index: 1;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all .2s ease;
    opacity: 0;
    z-index: -1;

    &.is-active {
        opacity: 1;
    }
}