@import "~/components/neuomorphic/theme.scss";

.swipe-container {
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.library-section {
    .action-sub-bar {
        position: sticky;
        top: -1px;
        left: 0;
        z-index: 10;
        background: $bg-primary;

        &.is-stuck {
            padding-top: calc(1rem + 1px);
        }
    }
}

.library-section .album-display-list {
    padding: 0 0 10rem;
}

.fab-area button {
    background: $bg-primary;
}
