@import "../../theme.scss";

.input {
    box-shadow: shadowInset("md");
    border: 2px solid transparent;
    margin-bottom: 1rem;
    transition: all .2s ease;
    border-radius: 20000rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    .adornment, input {
        padding: .75rem 1rem;
        margin: 0;
    }
    
    .adornment {
        flex: 1 0 auto;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .icon {
            transition: opacity .2s ease;
            opacity: 0.5;
        }
    }

    input {
        flex: 1 1 auto;
        font-family: "Muli", sans-serif;
        margin: 0;
        background: transparent;
        border: none;
        width: 100%;
        color: $text-primary;
        font-size: 1rem;

        &:focus {
            outline: none;
        }
    }

    input + .adornment,
    .adornment + input {
        padding-left: 0;
    }

    &:focus-within {
        border-color: rgba(255, 255, 255, 0.15);

        .adornment .icon {
            opacity: 0.9;
        }
    }
}