@keyframes record-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.vinyl-circle {
    display: flex;
    border-radius: 2000rem;
    overflow: visible;
    align-items: center;
    justify-content: center;
}

.vinyl {
    width: 95%;
    height: 95%;
    background: #eee;
    border: .25rem solid #ccc;

    position: relative;

    background: #2a2928;

    background:
        repeating-radial-gradient(#2a2928, #2a2928 6px, #ada9a0 7px, #2a2928 8px);

    transition: opacity .3s ease, transform .5s ease, border-radius .3s ease;
    opacity: 1;
    transform: none;

    .vinyl-sticker {
        position: relative;
        width: 60%;
        height: 60%;
        background: #a00;
        z-index: 1;
        

        animation: record-spin 4s infinite linear;
        animation-play-state: paused;

        // background-image: url(https://images-na.ssl-images-amazon.com/images/I/517fG1WXh7L.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &:after {
            content: '';

            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            background: #000;
            width: 8%;
            height: 8%;
            border-radius: 100%;

            transform: translate(-50%, -50%);
        }
    }

    &.is-circle.is-spinning .vinyl-sticker {
        animation-play-state: running;
    }

    &:not(.is-circle) {
        opacity: 0;
        transform: scale(0.8);
        border-radius: 0;
    }
}