@import "~/components/neuomorphic/theme.scss";

#root {
    overflow: auto;
    transition: all .2s ease;
}

.album-image {
    overflow: hidden;
    position: relative;

    .play-album-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $theme-primary;

        &:active, &.is-active {
            color: $text-primary;
        }
    }
}

.album-details {
    padding: 0 1.5rem;
    align-items: flex-start;
    flex-direction: column;

    .album-title {
        font-size: 1.3rem;
        margin-bottom: .2rem;
    }

    .artist {
        opacity: 0.7;
        margin-bottom: .1rem;
    }

    .duration {
        opacity: 0.6;
        font-size: 0.9rem;
    }
}

.album-tracks {
    flex-direction: column;
    padding: 1rem;

    .card {
        width: 100%;
        margin: .2rem 0;
        padding: .25rem 0 .25rem 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        text-align: left;

        .place, .duration {
            transition: all .2s ease;
        }

        .place {
            flex: 1 0 auto;
            width: 1.5rem;
            margin-right: 1rem;
            font-size: 0.7rem;
            opacity: 0.6;
            text-align: center;
        }

        &.is-playing .place {
            color: transparent;
            background-image: url(/res/ani_equalizer_white.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .title {
            flex: 1 1 auto;
            font-size: 0.9rem;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-right: 1rem;
        }

        .duration {
            font-size: 0.9rem;
            opacity: 0.6;
        }

        &.is-playing .duration {
            color: $text-primary;
            opacity: 1;
        }

        .duration, .actions {
            flex: 0 0 auto;
            margin: 0;
        }

        .actions {
            margin-left: .5rem;
            padding: .75rem;
            
            .icon {
                margin: 0;
            }
        }
    }
}