@import "~/components/neuomorphic/theme.scss";

.alarm-card {
    margin-top: .7rem;
    margin-bottom: .7rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    @include breakpoint("md") {
        &:first-of-type {
            margin-top: 1rem;
        }
    }

    &:last-of-type {
        margin-bottom: 1.25rem;
    }
}
