@import "~bulma/sass/base/minireset.sass";
@import "./theme.scss";

@import "./spacing.scss";

html, body {
    background: $bg-primary;
    color: $text-primary;
    font-family: "Muli", sans-serif;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}

.is-hoverable {
    @include hoverable;
}

.is-inset {
    box-shadow: shadowInset();
}

@each $label, $color in (
    "primary": $text-primary,
    "secondary": $text-secondary,
    "tertiary": $text-tertiary,
    "highlighted": $text-link,
    "danger": $text-danger
) {
    .is-#{$label}-text {
        color: $color !important;
    }
}

@each $label, $color in (
    "primary": $bg-primary,
    "secondary": $bg-secondary
) {
    .is-#{$label}-box {
        background-color: $color !important;
    }
}

@each $size, $mult in $sizes {
    .is-#{$size} {
        box-shadow: shadow($size);
        border-radius: borderRadius($size);
    }

    .is-#{$size}:active:not(:disabled):not(.is-disabled),
    .is-#{$size}.is-active:not(:disabled):not(.is-disabled) {
        box-shadow: shadowInset($size);
    }
}

.is-flat {
    box-shadow: 0 0 0 transparent, 0 0 0 transparent !important;
}

@each $display in (inline, inline-block, block, flex, inline-flex) {
    .is-#{$display} {
        display: $display !important;
    }
}

@each $position in (relative, fixed, absolute, sticky) {
    .is-#{$position} {
        position: $position !important;
    }
}

.is-hidden {
    display: none !important;
}

@for $i from 1 through 3 {
    .is-z-#{$i} {
        box-shadow: shadowMult(1 * $i/1.5, ($i*100)/6) !important;
    }
    
    .is-z--#{$i} {
        box-shadow: shadowInsetMult(1 * $i/1.5, ($i*100)/6) !important;
    }
}

@each $just, $val in ("center": center, "end": flex-end, "start": flex-start, "around": space-around, "even": space-evenly, "between": space-between) {
    .has-justified-#{$just} {
        justify-content: $val !important;
    }

    .has-aligned-#{$just} {
        align-items: $val !important;
    }

    .is-justified-#{$just} {
        justify-self: $val !important;
    }

    .is-aligned-#{$just} {
        align-self: $val !important;
    }
}

@each $flex in (row, column, row-reverse, column-reverse) {
    .is-flex-#{$flex} {
        flex-direction: $flex !important;
    }
}

.is-smooth {
    transition: all .2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.is-clickable:not(:disabled):not(.is-disabled) {
    cursor: pointer;
}