$breakpoint-xs: 0;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$breakpoints: (
    "xs": $breakpoint-xs,
    "sm": $breakpoint-sm,
    "md": $breakpoint-md,
    "lg": $breakpoint-lg,
    "xl": $breakpoint-xl
);

$themes: (
    "light": (
        "bg-primary": #E9EDF0,
        "bg-secondary": #E2ECF6,
        "bg-tertiary": #bbb,

        "focus-primary": #001f3f,
        "focus-secondary": rgba(0, 31, 63, 0.5),

        "text-primary": rgba(0, 56, 114, 1.0),
        "text-secondary": rgba(0, 56, 114, 0.3),
        "text-tertiary": #005fc0,
        "text-link": #009ed4,
        "text-danger": #c61f1f,

        "hint-primary": rgba(0, 0, 0, 0.07),

        "palette-primary": #631A86,
        "palette-secondary": #C1666B,
        "palette-tertiary": #1B9AAA,
        "palette-quaternary": #52AA5E,

        "theme-primary": #304962,

        "shadow-light": rgba(255, 255, 255, .5),
        "shadow-dark": rgba(0, 0, 0, 0.2),

        "shadow-size": .5rem
    ),

    "dark": (
        "bg-primary": #2e2e2e,
        "bg-secondary": #353535,
        "bg-tertiary": #111,

        "focus-primary": #001f3f,
        "focus-secondary": rgba(0, 31, 63, 0.5),

        "text-primary": rgba(255, 255, 255, 0.8),
        "text-secondary": rgba(255, 255, 255, 0.4),
        "text-tertiary": #A9E5BB,
        "text-link": #009ed4,
        "text-danger": #c61f1f,

        "hint-primary": rgba(255, 255, 255, 0.07),

        "palette-primary": #A9E5BB,
        "palette-secondary": #D84727,
        "palette-tertiary": #DEA54B,
        "palette-quaternary": #89BBFE,

        "theme-primary": #304962,

        "shadow-light": rgba(100, 100, 100, .4),
        "shadow-dark": rgba(0, 0, 0, 0.5),

        "shadow-size": .3rem
    )
);

$theme: "dark";

@function themeProp($prop, $theme: $theme) {
    $keyset: map-get($themes, $theme);
    @return map-get($keyset, $prop);
}

$bg-primary: themeProp("bg-primary");
$bg-secondary: themeProp("bg-secondary");
$bg-tertiary: themeProp("bg-tertiary");

$focus-primary: themeProp("focus-primary");
$focus-secondary: themeProp("focus-secondary");

$text-primary: themeProp("text-primary");
$text-secondary: themeProp("text-secondary");
$text-tertiary: themeProp("text-tertiary");
$text-link: themeProp("text-link");
$text-danger: themeProp("text-danger");

$hint-primary: themeProp("hint-primary");

$palette-primary: themeProp("palette-primary");
$palette-secondary: themeProp("palette-secondary");
$palette-tertiary: themeProp("palette-tertiary");
$palette-quaternary: themeProp("palette-quaternary");

$theme-primary: themeProp("theme-primary");

$shadow-light: themeProp("shadow-light");
$shadow-dark: themeProp("shadow-dark");

$spacer: 1rem;

$spacing: (
    0: 0,
    1: .25,
    2: .5,
    3: 1,
    4: 1.5,
    5: 2,
    6: 3
);

$sizes: (
    "xs": 0.5,
    "sm": 0.6,
    "md": 0.75,
    "lg": 0.85,
    "xl": 1.0
);

$shadowSize: themeProp("shadow-size");

$layer-bg: -1;
$layer-fg: 0;
$layer-dropdown: 1000;
$layer-ui: 5000;
$layer-modal: 10000;

@function fontSize($size: "sm") {
    $mult: map-get($sizes, $size);

    @return 2rem * $mult;
}

@function borderRadius($size: "sm") {
    @return .75rem * map-get($sizes, $size);
}

@function shadow($size: "sm") {
    $mult: map-get($sizes, $size);
    $val: $shadowSize * $mult;

    @return $val $val 1rem*$mult $shadow-dark, (-$val) (-$val) .5rem*$mult $shadow-light;
}

@function shadowMult($mult, $perc) {
    $val: $shadowSize * $mult;
    $dark: scale-color($shadow-dark, $lightness: 0%, $alpha: $perc);

    @return $val $val .5rem*$mult $dark, (-$val) (-$val) .5rem*$mult $shadow-light;
}

@function shadowInset($size: "sm") {
    $mult: map-get($sizes, $size);
    $val: $shadowSize * $mult;

    @return inset $val $val .5rem*$mult $shadow-dark, inset (-$val) (-$val) .5rem*$mult $shadow-light;
}

@function shadowInsetMult($mult, $perc) {
    $val: $shadowSize * $mult;
    $dark: scale-color($shadow-dark, $lightness: 0%, $alpha: $perc);

    @return inset $val $val .5rem*$mult $dark, inset (-$val) (-$val) .5rem*$mult $shadow-light;
}

@function shadowRidge($size: "sm") {
    $mult: map-get($sizes, $size);
    $val: $shadowSize * $mult;

    @return $val $val .5rem*$mult $shadow-dark,
            (-$val) (-$val) .5rem*$mult $shadow-light,
            inset $val $val .5rem*$mult $shadow-dark,
            inset (-$val) (-$val) .5rem*$mult $shadow-light;
}

@function shadowRidgeMult($mult, $perc) {
    $val: $shadowSize * $mult;
    $dark: scale-color($shadow-dark, $lightness: 0%, $alpha: $perc);

    @return $val $val .5rem*$mult $dark,
            (-$val) (-$val) .5rem*$mult $shadow-light,
            inset $val $val .5rem*$mult $dark,
            inset (-$val) (-$val) .5rem*$mult $shadow-light;
}

@mixin hoverable {
    cursor: pointer;
    transition: box-shadow .3s ease;
    user-select: none;
}

@mixin breakpoint($size) {
    @media(min-width: map-get($breakpoints, $size)) {
        @content;
    }
}

@mixin belowBreakpoint($size) {
    @media(max-width: map-get($breakpoints, $size) - 1) {
        @content;
    }
}

@mixin forMobile() {
    body:not(.is-desktop) {
        @content;
    }
}

@mixin forDesktop() {
    body.is-desktop {
        @content;
    }
}