@import "../theme.scss";

button, .btn {
    @include hoverable;

    flex: 0 0 auto;
    border: none;
    outline: none;
    margin: 1rem;
    background: transparent;
    background: var(--btn-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;

    transition: all .15s ease;

    color: $text-primary;

    .icon {
        font-size: fontSize();
        margin-right: .5rem;
    }

    @include forDesktop() {
        &:hover {
            box-shadow: none;
            border-color: $focus-primary;
        }
    }

    &.is-rounded {
        border-radius: 10rem;
    }

    &.is-icon {
        border-radius: 50%;
        padding: .5rem;

        display: flex;
        align-items: center;
        justify-content: center;
    
        .btn-label {
            display: none;
        }
    
        .icon {
            margin: 0;
        }
    }

    &.is-icon-square {
        padding: .5rem;
    
        .btn-label {
            display: none;
        }
    
        .icon {
            margin: 0;
        }
    }

    &:active, &.is-active {
        color: $palette-primary;
    }

    &:disabled, &.is-disabled {
        color: #aaa;
        cursor: default;
    }
}

@each $size, $mult in $sizes {
    button.is-#{$size},
    .btn.is-#{$size} {
        padding: 1rem*$mult 2rem*$mult;
        font-size: 2rem*$mult;
        
        .icon {
            font-size: fontSize($size);
            margin-right: 1rem * $mult;
        }

        &.is-icon,
        &.is-icon-square {
            padding: 0;
            width: 4rem*$mult;
            height: 4rem*$mult;
        
            .icon {
                margin: 0;
            }
        }
    }
}