@import "../theme.scss";

$color-top: #CBD3C3;
$color-mid: #B9C4B0;
$color-low: #AFBCA2;

$gradient: linear-gradient(135deg, $color-top 0%, $color-mid 50%, $color-low 100%);

$bezel: .5rem;
$panel-size: 1.5rem;

@font-face {
    font-family: 'DigitalClock';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/digital/DSEG7ClassicMini-Regular.woff2) format('woff2');
}

.digital-clock {
    padding: $bezel;
    margin: 1rem;

    box-shadow: shadow();
    border-radius: borderRadius();
    position: relative;

    margin: 1rem auto;

    .clock-text,
    .clock-text:before {
        font-family: 'DigitalClock';
        font-size: 2.5rem;
        text-align: center;
    }

    .clock-text {
        background: $color-mid;
        background: $gradient;
        border: 2px solid #aaa;
        position: relative;
        padding: $panel-size;
        z-index: 2;

        &:before {
            content: '88:88:88 8';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            opacity: 0.15;
            z-index: 1;
        }
    }

    @include belowBreakpoint("md") {
        margin: 1rem;

        .clock-text,
        .clock-text:before {
            font-size: 10vw;
        }
    }
}