@import "../theme.scss";

.top-tab-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;

    overflow-x: auto;
    z-index: $layer-ui - 1;

    .tab {
        position: relative;
        padding: 1rem 1.3rem;
        font-size: 1rem;
        border-radius: 0;
        border: none;
        outline: none;
        flex: 1 0 auto;

        transition: border-bottom-color .2s ease, background .2s ease;

        &.is-active {
            background: $hint-primary;
        }

        .indicator {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            
            background-color: $palette-primary;
        }
    }

    &.is-raised {
        box-shadow: 0 .5rem .6rem $shadow-dark, 0 -.5rem .6rem $shadow-light;
    }
}
