@import "~/components/neuomorphic/theme.scss";

.album-display-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;

    .album-wrapper {
        padding: .75rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        border: 2px solid transparent;

        .album {
            box-shadow: shadow();
            border-radius: borderRadius();
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: 100%;
            flex: 1 1 auto;
            width: 100%;
            margin: 0;

            color: $text-primary;
            text-decoration: none;

            .album-cover {
                margin: 0;
                flex: 0 1 auto;
                overflow: hidden;
                position: relative;
                height: unset;

                .content {
                    background: $shadow-light;

                    .album-cover {
                        height: 100%;
                    }
                }
            }

            .album-info {
                background: $bg-secondary;
                flex: 1 0 auto;
                padding: .5rem;
                font-size: 1rem;
                z-index: 1;
                display: flex;
                justify-items: center;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                width: 100%;
                max-height: 4rem;
                overflow: hidden;
                text-overflow: ellipsis;

                span {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    line-height: 1rem;
                }

                .album-subtitle {
                    display: block;
                    font-size: .8rem;
                    opacity: .6;
                }
            }
        }

        &.is-add-new .album {
            background: lighten($palette-secondary, 10);

            .album-info {
                background: $palette-secondary
            }

            & .content .add-new-icon {
                font-size: 4rem;
                opacity: 0.5;
            }
        }
    }

    &.display-is-list {
        $anim-speed: .15s ease;
        .album-wrapper {
            width: 100%;
            flex: 1 1 100%;
            padding: .25rem .75rem;
            transition: padding $anim-speed;
            // border-color: $bg-primary;
            background-color: $bg-primary;

            .album {
                flex-direction: row;
                transition: border-radius $anim-speed;

                .album-cover {
                    width: 4rem;
                }

                .album-info {
                    flex: 1 1 100%;
                    height: 100%;
                }
            }

            // &.is-add-new {
            //     position: sticky;
            //     top: -.25rem;
            //     z-index: 2;

            //     &.is-stuck {
            //         // background: $bg-primary;
            //         padding: .25rem 0;

            //         .album {
            //             border-radius: 0;
            //         }
            //     }
            // }

            &.is-add-new .album .content .add-new-icon {
                font-size: 2rem;
            }
        }
    }
}