@import "../theme.scss";

$rect-dimensions: (
    "square": 100%,
    "circle": 100%,

    "rect-1-1": #{(1/1)*100 + "%"},

    "rect-2-1": #{(1/2)*100 + "%"},
    "rect-1-2": #{(2/1)*100 + "%"},

    "rect-3-1": #{(1/3)*100 + "%"},

    // "rect-2-3": #{(3/2)*100 + "%"},
    "rect-3-2": #{(2/3)*100 + "%"},

    "rect-4-3": #{(3/4)*100 + "%"},
    // "rect-3-4": #{(4/3)*100 + "%"},

    "rect-16-9": #{(9/16)*100 + "%"},
    "rect-16-10": #{(10/16)*100 + "%"},
    "rect-21-9": #{(9/21)*100 + "%"}
);

.primitive {
    box-shadow: shadow();

    position: relative;
    z-index: 0;

    width: 100%;
    margin: 1rem;

    transition: all .25s ease;

    &[fill-color] {
        background-color: var(--fill-color);
    }

    @each $shape, $height in $rect-dimensions {
        &.is-#{$shape}:after {
            content: '';
            display: block;
            padding-bottom: $height;
        }
    }

    &.is-circle {
        border-radius: 50%;
    }

    .content {
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }
}