@import "~/components/neuomorphic/theme.scss";

.search-button {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    overflow: hidden;

    width: calc(3rem + 4px);

    padding: 0;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 10000rem;

    transition: border-color .3s ease, width .3s ease, background-color .3s ease .1s;
    will-change: border-color, width, background-color;

    &:focus-within {
        border-color: lighten($bg-primary, 30);
    }

    &.is-open {
        width: 100%;
        background: lighten($bg-primary, 10);
    }

    button {
        flex: 0 0 auto;
    }

    .input-area {
        width: 100%;
        flex: 1 1 auto;
        display: flex;
        align-items: center;

        input {
            width: 100%;
            height: 3rem;
            border: 0;
            font-size: 1rem;
            padding: 0 0 0 1rem;
            margin: 0;
            background: transparent;
            color: #fff;
    
            &:focus {
                outline: none;
            }
        }
    }
}