@import "../theme.scss";

$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;

@mixin col-auto() {
    flex: 0 0 auto;
    width: auto;
}

@mixin col($size) {
    flex: 0 0 auto;
    width: percentage($size / $grid-columns);
}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        @include col($i);
    }
}

%column {
    position: relative;
    width: 100%;
}

@each $bkp in map-keys($breakpoints) {
    @for $i from 1 through $grid-columns {
        .col-#{$bkp}-#{$i} {
            @extend %column;
        }
    }

    @include breakpoint($bkp) {
        @for $i from 1 through $grid-columns {
            .col-#{$bkp} {
                flex: 1 0 0%;
            }
            
            .col-#{$bkp}-auto {
                @include col-auto();
            }
    
            .col-#{$bkp}-#{$i} {
                @include col($i);
            }
        }
    }
}