@import "~/components/neuomorphic/theme.scss";

.top-section {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-section {
    width: 80vw;
    max-width: 26rem;
    display: flex;
    flex-direction: column;

    .login-btn {
        margin: 0;
    }
}