html {
    font-size: 16px;
}

html, body, #root {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

[data-swipeable],
.swipe-container,
.swipe-container > div {
    height: 100%;
}
