@import "../theme.scss";

$grip-gradient-dark: rgba(0, 0, 0, .2);
$grip-gradient-light: rgba(0, 0, 0, 0);
$grip-gradient: linear-gradient(90deg,
    $grip-gradient-light 30%,
    $grip-gradient-dark 35%,
    $grip-gradient-light 40%,
    $grip-gradient-dark 45%,
    $grip-gradient-light 50%,
    $grip-gradient-dark 55%,
    $grip-gradient-light 60%,
    $grip-gradient-dark 65%,
    $grip-gradient-light 70%);

$transition: 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);

.toggle {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    .toggle-object {
        border-radius: 1rem;
        isolation: isolate;
        position: relative;
        width: 3.75rem;
        height: 1.25rem;
        overflow: hidden;
        background: transparent;

        box-shadow: shadowRidge("xs");

        input[type="checkbox"] {
            display: none;
        }

        .indicator {
            width: 200%;
            height: 100%;

            border-radius: 1rem;
            
            transition: transform $transition,
                        background $transition;
            transform: translate3d(-75%, 0, 0);

            box-shadow: shadowMult(0.2, 0%);
            
            background: $bg-primary;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 25%;
                height: 50%;
                width: 25%;
                background: transparent;
                background: $grip-gradient;
                transition: right $transition;
            }
        }

        input[type="checkbox"]:checked ~ .indicator {
            transform: translate3d(25%, 0, 0);

            &:after {
                right: 75%;
            }
        }
    }

    .label {
        margin-left: 1rem;
    }

    &.is-checked .indicator {
        background: #fff;
    }
}