@import "~/components/neuomorphic/theme.scss";

$indicator-height: .2rem;

@mixin indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: $indicator-height;
}

.currently-playing-bar {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    justify-content: space-between;

    .progress-indicator {
        @include indicator;
        width: 0;
        z-index: 10;

        background-color: $palette-primary;

        &::before {
            content: "";
            @include indicator;
            width: 100%;
            background-color: $bg-tertiary;
            z-index: 0;
        }
    }

    .details {
        flex: 1 1 auto;
        width: 100%;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        overflow: hidden;
        padding-right: 1rem;

        .primitive {
            flex: 0 0 auto;
            width: 3rem;
            margin: 0 1rem 0 0;
        }

        .track-info {
            flex: 1 1 auto;
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;

            p {
                font-size: 1rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
            }

            .subtitle {
                font-size: .8rem;
                opacity: .8;
            }
        }
    }

    .actions {
        flex: 1 0 auto;
        display: flex;
    }
}